<footer class="footer">
  <p class="footer-content">&copy;Aquarium 2026</p>
  <div class="social-icons">
    <a href="https://github.com/sofiluran/aquarium-assignment">
      <img src="/images/github_logo.png" alt="Github-Logo" height="30px" width="auto">
    </a>
  </div>
</footer>