<%  let leftNav = [] %>
<%  let rightNav = [] %>
<% if(locals.navMenu) { %>
<%  let halfway = (locals.navMenu.length / 2) %>
<%  locals.navMenu.forEach((e, i) => { %>
<%    if(i < halfway) { %>
<%       leftNav.push(e) %>
<%    } else { %>
<%       rightNav.push(e) %>
<% }}) %>
<% } %>

<header class="header">
  <div class="nav-container">
    <nav class="nav-left nav">
      <% leftNav.forEach(j=> { %>
        <a class="nav-item" href="/<%= j.name.toLowerCase().replace(/ /g, '-') %>"><%=j.name.toUpperCase()%></a>
      <% }) %>
    </nav>
    <a class="logo-container" href="/">
      <img src="/images/logo.png" alt="Aquarium Logo" class="logo" />
    </a>
    <nav class="nav-right nav">
      <% rightNav.forEach(j=> { %>
        <a class="nav-item" href="/<%= j.name.toLowerCase().replace(/ /g, '-') %>"><%=j.name.toUpperCase()%></a>
      <% }) %>
    </nav>
  </div>
</header>