* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
}

.nav-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav {
  height: fit-content;
  flex: 1;
  gap: 15px;
  padding: 0 10px;
  width: fit-content;
}

.nav-item {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 10px;
  text-decoration: none;
}

.nav-right {
  justify-content: flex-end;
}

.nav-left {
  justify-content: flex-start;
  text-align: right;
}

.logo-container {
  height: fit-content;
  min-width: 130px;
  top: 1.5vw;
  position: relative;
  width: 9%;
}

.logo {
  height: auto;
  width: 100%;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.sidebar {
  border-radius: 15px;
  display: flex;
  height: 80%;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.sidebar-video {
  height: 100%;
  position: absolute;
  object-fit: contain;

}

.sidebar-list {
  border-radius: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 7%;
  z-index: 1;
}

.sidebar-header {
  color: white;
  display: block;
  font-size: 1.6rem;
  padding: 14px 0;
  text-decoration: none;
}

.sidebar-item {
  color: white;
  font-size: 1.4rem;
  padding: 8px 0;
  text-decoration: none;
}

