* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  position: absolute;
  width: 100%;
}

.header-light {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.335),
    rgba(255, 255, 255, 0) 80%
  );
}

.header-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.67),
    rgba(0, 0, 0, 0) 70%
  );
}

.nav-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav {
  display: flex;
  height: fit-content;
  flex: 1;
  gap: 15px;
  padding: 0 10px;
}

.nav-item {
  color: black;
  display: block;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0 10px;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: #227286e0;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #afbec2e0;
}

.mobile-nav-item {
  display: none;
}

.light {
  color: black;
}

.dark {
  color: white;
}

.nav-right {
  justify-content: flex-start;
}

.nav-left {
  justify-content: flex-end;
  text-align: right;
}

.nav-underline {
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-underline-light {
  background-color: black;
  height: 1.8px;
}

.nav-underline-dark {
  background-color: white;
  height: 1.2px;
}

.logo-container {
  height: fit-content;
  min-width: 130px;
  top: 1.5vw;
  position: relative;
  width: 9%;
}

.logo {
  height: auto;
  width: 100%;
}

.logo-dark {
  filter: invert(1);
}

.main {
  display: flex;
  flex: 1;
}

.sidebar-area {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 24%;
  max-width: 500px;
  min-width: 320px;
}

.sidebar-area-closed {
  width: 20px;
  min-width: 20px;
}

.sidebar {
  border: rgb(225, 225, 225) 2px solid;
  border-radius: 15px;
  display: flex;
  height: 65%;
  margin-top: 30vh;
  overflow: hidden;
  position: relative;
  width: 80%;
  min-width: 130px;
  box-shadow: -5px 5px 8px 2px rgba(0, 0, 0, 0.569);
  visibility: visible;
  z-index: 50;
}

.icon {
  fill: white;
  position: absolute;
  cursor: pointer;
}

.minus-icon {
  width: 37px;
  right: 14px;
  top: 7px;
  opacity: 1;
  visibility: visible;
}

.plus-icon {
  width: 30px;
  right: 4px;
  top: 4px;
  opacity: 0;
  visibility: hidden;
}

.sidebar-closed {
  left: 20px;
  top: 3.5%;
  width: 40px;
  min-width: 30px;
  height: 40px;
  border: 1px solid rgb(249, 249, 249);
  box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.569);
  position: absolute;
  z-index: 30;

  .sidebar-video {
    height: 900px;
  }
}

.sidebar-video {
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
}

.sidebar-list {
  border-radius: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 7%;
  margin-top: 12%;
  width: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.sidebar-header {
  color: white;
  display: block;
  font-size: 1.9rem;
  font-weight: 300;
  padding-top: 14px;
  padding-bottom: 4px;
  text-decoration: none;
  width: fit-content;
}

.sidebar-divider {
  height: 1px;
  width: 85%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.sidebar-item {
  color: white;
  font-size: 1.6rem;
  padding: 8px 0;
  text-decoration: none;
  width: fit-content;
  visibility: visible;
}

.content {
  flex: 1;
  margin-top: 32.5vh;
  padding: 0 5px;
  padding-right: 20px;
  background: transparent;
}

.media-area {
  height: 43vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.media-cover {
  height: 30vh;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgba(208, 208, 208, 0) 10%
  );
  bottom: 0;
  position: absolute;
  z-index: 100;
}

.content-media {
  position: relative;
  bottom: 70%;
  width: 100%;
}

.title {
  font-size: 2.7rem;
  font-weight: 300;
  height: 6vh;
  padding: 9px 5%;
}

.description {
  margin-top: 5%;
  padding: 1% 3%;
  font-size: 1.7rem;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.764);
  border-radius: 50px;
  box-shadow: 2px 2px 12px 10px rgba(255, 255, 255, 0.764);
}

.facts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 20px;
  font-weight: 300;
  width: 93.4%;
}

.fact-item {
  width: fit-content;
  border: rgba(165, 165, 165, 0.751) 2px solid;
  border-radius: 12px;
  padding: 10px 2%;
  font-size: 2rem;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: -5px 5px 8px 2px rgba(0, 0, 0, 0.569);
  margin: 10px;
  z-index: 10;
}

.bubbles {
  top: 0;
  left: 0;
  position: absolute;
  width: 700px;
  mix-blend-mode: screen;
}

.fact-text {
  font-size: 1.5rem;
  padding: 4px 0;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  color: rgb(255, 255, 255);
}

.habitat {
  width: 700px;
  background: linear-gradient(245deg, rgb(86, 122, 195), rgb(16, 164, 159));
}

.diet {
  width: 500px;
  background: linear-gradient(245deg, rgb(16, 164, 159), rgb(94, 115, 141));
}

.size {
  width: 330px;
  background: linear-gradient(245deg, rgb(94, 115, 141), rgb(86, 122, 195));
}

.lifespan {
  width: 200px;
  background: linear-gradient(245deg, rgb(86, 122, 195), rgb(16, 164, 159));
}

.footer {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: auto;
  padding: 20px;
}

.footer-content {
  font-size: 1rem;
}

@media (max-width: 1400px) and (min-width: 954px) {
  .content-media {
    bottom: 30%;
  }
}

@media (max-width: 954px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-container {
    justify-content: space-between;
  }

  .logo-container {
    min-width: 80px;
    left: 10px;
  }

  .mobile-nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    background: linear-gradient(245deg, rgba(86, 122, 195, 0.855), rgba(16, 164, 159, 0.864));
    transform: translateX(100%);
    border: white 2px solid;
  }

  .mobile-nav.active {
    border-radius: 20px;
    gap: 10px;
  }

  .mobile-nav-item {
    display: block;
    color: white;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
  }

  .facts {
    display: block;
  }

  .fact-item {
    margin: 10px;
  }

  .main {
    flex-direction: column;
  }

  .sidebar-area {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }

  .sidebar {
    pointer-events: all;
  }

  .sidebar-area-closed {
    width: 0;
  }

  .plus-icon {
    width: 20px;
    top: 4px;
    right: 4px;
  }

  .sidebar-closed {
    top: -20%;
    height: 30px;
    width: 30px;
  }

  .media-area {
    height: 26vh;
  }

  .content-media {
    bottom: 0;
  }

  .content {
    margin-top: 17vh;
    padding-right: 5px;
  }

  .title {
    font-size: 1.6rem;
    white-space: nowrap;
  }

  .description {
    margin-top: 7%;
    font-size: 1.1rem;
  }

  .facts {
    padding: 0;
    width: 100%;
  }

  .fact-item {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .fact-text {
    font-size: 1.1rem;
  }

  .habitat {
    width: 100%;
  }

  .diet {
    width: 90%;
  }

  .size {
    width: 80%;
  }

  .lifespan {
    width: 70%;
  }

  .sidebar-video {
    width: 100%;
    height: auto;
  }
}
