* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  position: absolute;
  width: 100%;
}

.header-light {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.335), rgba(255, 255, 255, 0) 80%);
}

.header-dark {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0) 70%);
}

.nav-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav {
  display: flex;
  height: fit-content;
  flex: 1;
  gap: 15px;
  padding: 0 10px;
}

.nav-item {
  color: black;
  display: block;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0 10px;
  text-decoration: none;
}

.light {
  color: black;
}

.dark {
  color: white;
}

.nav-right {
  justify-content: flex-start;
}

.nav-left {
  justify-content: flex-end;
  text-align: right;
}

.nav-underline {
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-underline-light {
  background-color: black;
  height: 1.8px;
}

.nav-underline-dark {
  background-color: white;
  height: 1.2px;
}

.logo-container {
  height: fit-content;
  min-width: 130px;
  top: 1.5vw;
  position: relative;
  width: 9%;
}

.logo {
  height: auto;
  width: 100%;
}

.logo-dark {
  filter: invert(1)
}

.main {
  display: flex;
  flex: 1;
}

.sidebar-area {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: clamp(250px, 24%, 425px);
}

.sidebar {
  border: rgb(225, 225, 225) 2px solid;
  border-radius: 15px;
  display: flex;
  height: 65%;
  margin-top: 30vh;
  overflow: hidden;
  position: relative;
  width: 80%;
  box-shadow: -5px 5px 8px 2px rgba(0, 0, 0, 0.569);
}

.sidebar-video {
  height: 100%;
  position: absolute;
  object-fit: contain;
}

.sidebar-list {
  border-radius: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 7%;
  z-index: 1;
}

.sidebar-header {
  color: white;
  display: block;
  font-size: 1.9rem;
  font-weight: 300;
  padding-top: 14px;
  padding-bottom: 4px;
  text-decoration: none;
  width: fit-content;
}

.sidebar-divider {
  height: 1px;
  width: 85%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.sidebar-item {
  color: white;
  font-size: 1.6rem;
  padding: 8px 0;
  text-decoration: none;
  width: fit-content;
}

.content {
  flex: 1;
  margin-top: 32.5vh;
  padding: 0 5px;
  padding-right: 20px;
  background: transparent;
}

.media-area {
  height: 43vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.media-cover {
  height: 30vh;
  width: 100%;
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(208, 208, 208, 0) 10%);
  bottom: 0;
  position: absolute;
  z-index: 100;
}

.content-media {
  position: relative;
  bottom: 70%;
  width: 100%;
}

.title {
  font-size: 2.7rem;
  font-weight: 300;
  height: 6vh;
  padding: 9px 5%;
}

.description {
  padding: 6% 3%;
  padding-bottom: 2%;
  font-size: 1.7rem;
  font-weight: 300;
}

.facts {
  display: flex;
  justify-content: space-between;
  padding: 13px 18px;
  margin: 0 3.3%;
  font-weight: 300;
  width: 93.4%;
}

.fact-item {
  width: 20%;
  border: rgba(165, 165, 165, 0.751) 2px solid;
  border-radius: 12px;
  padding: 15px 2%;
  font-size: 2rem;
  color: white;
  position: relative;
  overflow: hidden;
}

.bubbles {
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  mix-blend-mode: screen;
}

.fact-text {
  font-size: 1.5rem;
  padding: 8px 0;
}

.habitat {
  background: linear-gradient(70deg, rgb(86, 122, 195), rgb(16, 164, 159));
}

.diet {
  background: linear-gradient(70deg, rgb(16, 164, 159), rgb(94, 115, 141));
}

.lifespan {
  background: linear-gradient(70deg, rgb(94, 115, 141), rgb(86, 122, 195));
}

.size {
  background: linear-gradient(70deg, rgb(86, 122, 195), rgb(16, 164, 159));
}

.footer {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: auto;
  padding: 20px;
}

.footer-content {
  font-size: 1rem;
}
